{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Clients rating</title>
    <link rel="shortcut icon" href="/static/image/home.png">
    <meta content="">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/sorttable.js"></script>
    <style></style>
</head>
<body>
<center>
    {% include "main_page.html" %}
    <!-- {% include "user_card.html" %} -->
    <!-- {% include "vote_page.html" %} -->
</center>
</body>
</html>